* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  /* colors */
  --red: rgba(209, 0, 35, 1);
  --dark: rgba(21, 22, 29, 1);
  --black: rgba(30, 31, 41, 1);
  --grey: rgba(228, 231, 237, 1);
  --body: rgba(51, 51, 51, 1);
  --headers: rgba(43, 45, 66, 1);
}
